div {
    border: solid 2px black;
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.song-info {
    border: 2px solid green;
    background-color: blueviolet;
    max-width: 250px;
    max-height: 275px;
}

img {
    max-width: 100px;
    max-height: 100px;
}