#box {
    border: solid 2px black;
    background-color: red;
    max-width: 500px;

}

.song-info {
    border: 2px solid green;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}